---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🧑‍🚀 Hello, Ai Mr Ferdy Lover!</h1>
			<p>
				Selamat datang di template awal blog resmi <a href="https://ai.mr-sultan.org/">Ai Mr Sultan</a>. Template ini berfungsi sebagai titik awal yang ringan dan bergaya minimalis bagi siapa pun yang ingin membangun situs web pribadi, blog, atau portofolio dengan Astro.
			</p>
			<p>
Selamat datang di mr sultan adalah layanan resmi dengan teknologi ai terbaru, menghadirkan sistem cepat, pasaran lengkap, serta pengalaman bermain yang aman dan modern.!
				Templat ini dilengkapi dengan beberapa integrasi yang sudah dikonfigurasi di file
<code>astro.config.mjs</code> Anda. Anda dapat menyesuaikan pengaturan Anda dengan
<a href="https://ai.mr-sultan.org/">Integrasi Mr Sultan</a> untuk menambahkan alat seperti Tailwind,

React, atau Vue ke proyek Anda.
			</p>
			<p>Berikut beberapa ide tentang cara memulai menggunakan templat ini:</p>
			<ul>
			<li>Edit halaman ini di <code>src/pages/index.astro</code></li>
<li>Edit item header situs di <code>src/components/Header.astro</code></li>
<li>Tambahkan nama Anda ke footer di <code>src/components/Footer.astro</code></li>
<li>Lihat postingan blog yang disertakan di <code>src/content/blog/</code></li>
<li>Sesuaikan tata letak halaman postingan blog di <code>src/layouts/BlogPost.astro</code></li>
			</ul>
			<p>
			Selamat bersenang-senang! Jika Anda mengalami kesulitan, ingatlah untuk <a href="https://ai.mr-sultan.org/"

>membaca dokumentasi</a> atau <a href="https://ai.mr-sultan.org/">bergabung dengan kami di Discord</a> untuk mengajukan pertanyaan.

</p>

<p>
Mencari template blog dengan sedikit lebih banyak kepribadian? Lihat <a
href="https://ai.mr-sultan.org/"

>astro-blog-template</a> karya <a href="https://ai.mr-sultan.org/">Maxi Ferreira</a>.
			</p>
		</main>
		<Footer />
	</body>
</html>
